::ng-deep .ck-editor__editable {
    min-height: 50vh!important;
}
.accordion-body{
    padding: 15px!important;
    overflow: visible!important;
}

.card-body{
    padding: 0!important;
}

.accordion-button{
    padding: 15px!important;
}
.accordion-button:not(.collapsed){
    background-color: rgb(246, 246, 246)!important;
    box-shadow: none!important;
}


.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: var(--cui-accordion-inner-border-radius);
    border-bottom-left-radius: var(--cui-accordion-inner-border-radius);
}
.accordion-item:first-of-type .accordion-button{
    box-shadow: none!important;

}

.gap-10{
    gap:10%;
}

.d-grid-2{
    display: grid;
    grid-template-columns: auto auto;

}

.d-grid-2 .grid-item{
    padding-bottom:2px;
    padding-top:2px;
}

.custom-btn{
    background-color:#536487!important;
    color:white!important;
}

.w-100{
    width: 100%!important;
}

.btn-ctn{
    justify-content: end!important;
}

.dropdown-menu{
    max-height: 200px!important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.h-btn{
    color: var(--cui-accordion-active-color);
    background-color: rgb(246, 246, 246) !important;
    border-top-left-radius: var(--cui-accordion-inner-border-radius);
    border-top-right-radius: var(--cui-accordion-inner-border-radius);
}

.dropdown-tgle{
    background-color: rgb(250, 250, 250);
}

.edit-drop-down{
    position: absolute!important;
    top:150%;
    left:5px;
    height: 35px;
    width: fit-content!important;
    min-width: max-content!important;
    border: 0.01rem solid rgb(159, 159, 159);
    background-color: white;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    align-items: center;

 
}

.edit-drop-down .url-editor{
    width: fit-content!important;
    min-width: 250px!important;
    display: inline;
    border: 0.01rem solid gray;
}

.primary-bg{
    background-color: rgb(27, 145, 218);
}

.display-url{
    color:rgb(0, 145, 255);
}